<div class="row"></div>
<div class="row"></div>
<div class="row"></div>

<div class="row">
  <div class="col s4">
  	<div class="center-align"><%= image_tag "spectrum.jpg" %></div>
  </div>

  <div class="col s4">
  	<%= render "nav_bar" %>
  </div>

  <div class="col s4">
    <div class="center-align"><%= image_tag "espn_fh_logo.png" %></div>
  </div>
</div>
