<h5>SPECTRUM</h5>
<br/>

<table>
	<tr>
		<th>Rank</th>
		<th>Team</th>
		<% @categories.each_with_index do |rh, index| %>
			<th><%= rh %></th>
		<% end %>
	</tr>

	<tr>
		<% @lk.each do |value| %>
			<td><%= value %></td>
		<% end %>
	</tr>

	<tr>
		<% @mk.each do |value| %>
			<td><%= value %></td>
		<% end %>
	</tr>

</table>