@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
@import 'materialize';

html {
  overflow-x: hidden;
}

.container {
	width: 90%;
}

#nav-background {
  background-color: white;
}

.nav-logos {
  height: 45px;
  width: 45px;
  position: relative;
  top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

#nav-title {
  font-weight: bold;
  color: #64B5F6;
  //color: #aad4e5;
}

#s {
  font-weight: bold;
  color: #DE212B; 
}

#p {
  font-weight: bold;
  color: #DE212B; 
}

#e {
  font-weight: bold;
  color: #E34F27; 
}

#c {
  font-weight: bold;
  color: #E34F27; 
}

#t {
  font-weight: bold;
  color: #359655; 
}

#r {
  font-weight: bold;
  color: #359655; 
}

#u {
  font-weight: bold;
  color: #356AB5; 
}

#m {
  font-weight: bold;
  color: #356AB5; 
}

.spectrum-logo {  
  margin: 10px;
  height: 125px;
  width: 125px;
}

.espn-logo {
  float: right;
  margin: 10px;
  height: 125px;
  width: 125px;
}

#categories, #cat-submit-divider, #submit {
  position: relative;
  top: -50px;
}

.sia {
  height: 30px;
  width:  30px;
}