@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
@import 'materialize';

html {
  overflow-x: hidden;
}

.container {
	width: 90%;
}

.sia {
  height: 30px;
  width:  30px;
}

.spectrum-logo {  
  margin: 10px;
  height: 125px;
  width: 125px;
}

.espn-logo {
  float: right;
  margin: 10px;
  height: 125px;
  width: 125px;
}

#categories, #cat-submit-divider, #submit {
  position: relative;
  top: -50px;
}
