@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
@import 'materialize';

.container {
	width: 90%;
}

.sia {
  height: 30px;
  width:  30px;
}

.spectrum {
  position: absolute;
  top: 30%;
  left: 1%;
}

.espn-logo {
  position: absolute;
  top: 35%;
  right: 1%;
}