<div class="footer-copyright center-align">
  <div class="divider"></div>

  <div class="row">
    <div class="row">
      <div class="col s10 offset-s1">
        <a href="http://www.lukekedz.com/about" target="_blank"><strong">sia</strong><a>
      </div>
      <div class="col s10 offset-s1">
        <a href="http://www.lukekedz.com/about" target="_blank"><%= image_tag 'sia.png', :class => 'sia' %></a>
      </div>
  </div>
</div>