<nav>
  <div class="nav-wrapper" id="nav-background">
    <a href="#" class="brand-logo center">
      <%= image_tag "sticks.png", :class => "sticks" %>
      <span id="s">S</span>
      <span id="p">P</span>
      <span id="e">E</span>
      <span id="c">C</span>
      <span id="t">T</span>
      <span id="r">R</span>
      <span id="u">U</span>
      <span id="m">M</span>
      <%= image_tag "sticks.png", :class => "sticks" %>
    </a>
  </div>
</nav>
